* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    background: url("./bg.jpg") center/contain repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-container {
    max-width: 700px;
    width: 100%;
    background: white;
    border: 1px solid gray;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.search {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.add-todo-form {
    display: flex;
    justify-content: space-between;
}

.todo-name.done {
    text-decoration: line-through;
}

.todo-name.important {
    color: red;
}
.edit-form{
    display: none;
}
.edit-form.active{
    display: block;
}